activemqpublisher-v1/target/classes/activemqpublisher-v1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <jms:activemq-connector name="Active_MQ"   brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ" acknowledgementMode="CLIENT_ACKNOWLEDGE"/>
    <flow name="activemqpublisher-v1Flow">
        <file:inbound-endpoint responseTimeout="10000" doc:name="File" path="E:\temp\landing_area\inbound" moveToDirectory="E:\temp\landing_area\outbound"/>

        <component class="com.artist.mn.Main" doc:name="Java"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint  doc:name="ActiveMQ" connector-ref="Active_MQ" queue="ArtistsQueue"/>
       </flow>
    </mule>
